## Variables

In [1]:
x = 5  #command   ## = means bind or assing to

In [2]:
x

5

In [3]:
y = 8

In [4]:
y

8

In [6]:
print (y)

8

In [7]:
(x, y) = (1, 2)   # number of variables must be equal to the number of values

In [8]:
x

1

In [9]:
y

2

## Exercises - Variables

Create a variable with name "x" and a value of 10. Execute.

In [1]:
x = 10

Tell the computer to show you the value of that variable.

In [2]:
x

10

Can you think of a second way to obtain the same result?

In [3]:
print(x)

10

On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [4]:
(a, b, c, d) = (10, 20, 30, 40)

Tell the computer to show you the value corresponding to the variable "b".

In [5]:
b

20

Do the same for "d".

In [6]:
d

40

---

## Numbers and Boolean

In [10]:
x1 = 5

In [12]:
type(x1)   # type(variable)

int

In [13]:
x2 = 4.75

In [14]:
type(x2)

float

In [15]:
int(x2)  # transforms the variable into an integer

4

In [16]:
float(x1)   # will add a decimal point to the integer and we'll turn it into a float

4.75

In [17]:
x3 = True  # we have to type True or False with capital letters! Otherwise it will return an error message

In [18]:
type(x3)

bool

## Exercises - Numbers and Boolean

Create a variable equal to "True".

In [7]:
w = True

Check its type.

In [8]:
type(w)

bool

Create a variable equal to 99.

In [9]:
z = 99

Check its type.

In [10]:
type(z)

int

Check the type of the value 0.99.

In [11]:
type(0.99)

float

Turn 99 into a *float*.

In [12]:
float(z)

99.0

Turn 0.99 into an integer. What value did you get?

In [13]:
int(0.99)

0

---

## Strings

In [19]:
y = 18
print( y + "Dollars")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
## Error - We cannot put two different types of variables in the same function

In [21]:
# We can convert y into a string ---- str()

In [23]:
y = 10
print( str(y) + " Dollars")

10 Dollars

In [24]:
"I'm fine"

"I'm fine"

In [25]:
'Red'   'car'

'Redcar'

In [26]:
'Red ' 'car'

'Red car'

In [27]:
print('Red', 'car')

Red car

## Exercises - Strings

Assign the value of 100 to the variable "m".

In [15]:
m = 100

With the help of the variable "m", write one line of code where the output after executuion would be *100 days*.

*Hint:* *You could provide four answers to this question!*

In [17]:
print(str(m) + ' days')

100 days

In [18]:
print(m, 'days')

100 days

In [19]:
print(str(m), "days")

100 days

Produce an output equal to *It's cool, isn't it?*

In [20]:
print("It's cool, isn't it?")

It's cool, isn't it?

Fix the string below.

In [22]:
"Don't be shy"

"Don't be shy"

Produce an output equal to *Click "OK"*.

In [23]:
print('Click "OK"')

Click "OK"

Include a plus sign in your line of code to produce *'Big Houses'*.

In [24]:
print("Big" + " Houses")

Big Houses

Include a trailing comma in your line of code to produce *Big Houses*.

In [25]:
print('Big', 'Houses')

Big Houses