## Arithmetic

In [1]:
1 + 2

3

In [2]:
3 - 5

-2

In [4]:
15 / 3

5.0

In [5]:
16 / 3

5.333333333333333

In [7]:
16 % 3   # % gives us the remainder

1

In [8]:
5 * 3

15

In [9]:
x = 5 * 3

In [10]:
x

15

In [11]:
5 ** 3  #powers

125

## Exercises - Arithmetic Operators

Combine 15 and 23.

In [1]:
15 + 23

38

Subtract 50 from 26.

In [2]:
26 - 50

-24

Divide 20 by 4.

In [3]:
20 / 4

5.0

Divide 22 by 4.

In [4]:
22 / 4

5.5

Obtain the remainder of the division of 22 by 4.

In [5]:
22 % 4

2

Divide the float 22 by 4.

In [6]:
x = 22 
float(x)

22.0

In [7]:
x / 4

5.5

Multiply 6 by 8.

In [8]:
6 * 8

48

Raise 15 to the power of 2.

In [9]:
15 ** 2

225

---

## Double-equality sign

In [1]:
y = 5 ** 3

In [2]:
y

125

In [3]:
y == 125  # == means equal. We are asking the question: Is y equal to 125? The output will be a boolean value

True

## Line Continuation

In [4]:
2.0 * 1.5 + \
5

8.0

In [5]:
## Usamos \ para indicar que continuamos o mesmo comando na linha seguinte!

## Indexation

In [6]:
"Friday"

'Friday'

In [7]:
#Can we extract the letter D?

In [9]:
"Friday"[3]    # Indexation = Square brackets after the variable

'd'

## Indentation

In [11]:
def five(x):
    x = 5
    return x

print (five(3))

5

## Comparison Operators

In [12]:
10 == 20/2

True

In [14]:
10 != 10  # != means not equal to

False

In [15]:
10 != 15

True

In [16]:
100 > 50

True

In [17]:
100 < 40

False

In [18]:
100 >= 50

True

In [19]:
100 <= 50

False

## Logical Operators

In [20]:
# Logical operators (boolean operators): NOT - AND - OR

In [21]:
# AND: checks wether the two statements around it are true

In [22]:
True and True

True

In [23]:
True and False

False

In [24]:
False and False

False

In [25]:
# OR: one of the two statements is true

In [26]:
True or False

True

In [27]:
False or False

False

In [28]:
True or False

True

In [29]:
# NOT: leads to the opposite of the given statement

In [30]:
not True

False

In [31]:
not False

True

In [32]:
3 > 5 and 10 <= 20

False

In [33]:
## PRIORITY: NOT - AND - OR

In [34]:
True and not True

False

In [35]:
False or not True and True

False

In [36]:
True and not True or True

True

## Identity Operators

In [37]:
# Identity operators: IS - IS NOT

In [38]:
5 is 6

False

In [39]:
5 == 6

False

In [40]:
5 is not 6

True

In [41]:
5 != 6

True

## Exercises - Logical and Identity Operators

Check whether the following code is True or False.

False or not True and not False

Ans: False

In [10]:
False or not True and not False

False

True and not False and True or not False

Ans:True

In [11]:
True and not False and True or not False

True

True or False and False

Ans: True

In [12]:
True or False and False

True

False and True or False

Ans: False

In [13]:
False and True or False

False

Using an identity operator, verify that 10 is not the same as 12.

In [14]:
10 is not 12

True

Using an identity operator, verify that 50 is the same as 50.

In [15]:
50 is 50

True