# Functions

In [1]:
def simple():
    print('My first function')

In [2]:
simple()

My first function

In [3]:
def plus_ten(a):
    return a + 10    # returns a value from the function

# return can be used only once in a function

In [4]:
plus_ten(2)

12

In [5]:
plus_ten(5)

15

## Another way to define a function

In [9]:
def plus_ten(a):
    result = a + 10

In [10]:
plus_ten(2)

In [11]:
# I didn't get an ouput
# I need to return the variable result!

In [12]:
def plus_ten(a):
    result = a + 10
    return result

In [13]:
plus_ten(3)

13

## Print:  does not affect the calculation of the output differently

## Return: does not visualize the output. It specifies what a certain function is supposed to give back

---

## Function within a function

In [16]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [17]:
wage(8), with_bonus(8)

(200, 250)

Define a function that adds 5 to the parameter. Then, define another function that will multiply the newly obtained number by 3. Verify your code was correct by calling the second function with an argument of 5. Was your output equal to 30?

In [18]:
def y(x):
    return x + 5

def z(x):
    return y(x) * 3

In [19]:
y(5), z(5)

(10, 30)

## Conditional Statements in Functions

In [23]:
def add_ten(money):
    if money >= 100:
        money = money + 10
        return money
    else:
        return 'Save more!'

In [21]:
add_ten(110)

120

In [24]:
add_ten(50)

'Save more!'

## Exercises - Combining Conditional Statements and Functions

Define a function, called **compare_the_two()**, with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [1]:
def compare_the_two(x, y):
    if x > y:
        return 'Greater'
    elif x < y:
        return 'Less'
    else:
        return 'Equal'

In [2]:
compare_the_two(20,10)

'Greater'

In [3]:
compare_the_two(10,10)

'Equal'

In [4]:
compare_the_two(10,20)

'Less'

---

## Creating Functions Containing a Few Arguments

In [25]:
def subtract_bc(a, b, c):
    result = a - b * c
    print('Parameter a equals', a)
    print('Parameter b equals', b)
    print('Parameter c equals', c)
    return result

In [26]:
subtract_bc(10, 3, 4)

Parameter a equals 10
Parameter b equals 3
Parameter c equals 4

-2

# Notable Built-in Functions in Python

In [27]:
type(10)

int

In [28]:
int(5.3)

5

In [29]:
float(3)

3.0

In [30]:
str(500)

'500'

In [31]:
max(10, 20, 30)

30

In [32]:
min(10, 20, 30)

10

In [33]:
z = -30
abs(z)

30

In [35]:
list_1 = [1, 2, 3, 4]

In [37]:
sum(list_1)  #sums numbers inside a list

10

In [39]:
round(3.5345, 2)

3.53

In [40]:
round(3.2)

3

In [41]:
2 ** 10

1024

In [42]:
pow(2, 10)

1024

In [43]:
len('Mathematics')

11