# Lists

In [1]:
Participants = ['John', 'Leila', 'Gregory', 'Cate']
Participants

['John', 'Leila', 'Gregory', 'Cate']

In [2]:
Participants[2]

'Gregory'

In [4]:
Participants[-1]   #reverse order

'Cate'

In [5]:
#replace itens in a list

Participants[3] = 'Maria'
Participants

['John', 'Leila', 'Gregory', 'Maria']

In [6]:
#delete an item from a list
del Participants[2]
Participants

['John', 'Leila', 'Maria']

## Exercises - Lists

Create a list, called "Numbers". Let it contain the numbers 10, 25, 40, and 50.

In [8]:
Numbers = [10, 25, 40, 50]
Numbers

[10, 25, 40, 50]

Print the second element from the list.

In [9]:
Numbers[1]

25

Print the 0th element.

In [10]:
Numbers[0]

10

Print the third-to-last element using a minus sign in the brackets.

In [12]:
Numbers[-3]

25

Substitute the number 10 with the number 15.

In [13]:
Numbers[0] = 15
Numbers

[15, 25, 40, 50]

Delete the number 25 from the Numbers list.

In [14]:
del Numbers[1]
Numbers

[15, 40, 50]

----

# Methods

In [15]:
# append method

In [16]:
Participants.append('Dwayne')
Participants

['John', 'Leila', 'Maria', 'Dwayne']

In [17]:
Participants.extend(['George', 'Catherine'])   # adicionar mais do que um elemento
Participants

['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine']

In [19]:
print ('The first participant is ' + Participants[0] + '.')   ##Os elementos de uma lista sÃ£o todos tratados como strings

The first participant is John.

In [20]:
len('Dolphin')

7

In [21]:
len(Participants)  #tamanho de uma lista

6

## Exercises - Methods

Append the number 100 to the Numbers list.

In [22]:
Numbers = [15, 40, 50]

In [23]:
Numbers.append(100)

In [24]:
Numbers

[15, 40, 50, 100]

With the help of the "extend method", add the numbers 115 an 140 to the list.

In [25]:
Numbers.extend([115, 140])
Numbers

[15, 40, 50, 100, 115, 140]

Print a statement, saying "The fourth element of the Numbers list is:" and then designate the value of the fourth element. Use a trailing comma.

In [27]:
print('The fourth elements of the Numbers list is:', Numbers[3])

The fourth elements of the Numbers list is: 100

How many elements are there in the Numbers list?

In [28]:
len(Numbers)

6

---

# List Slicing

In [31]:
Participants[1:3]   #The number correspond to the element position; The second to the n-1 element position

['Leila', 'Maria']

In [32]:
Participants[:2]

['John', 'Leila']

In [33]:
Participants[4:]

['George', 'Catherine']

In [34]:
Participants[-2:]

['George', 'Catherine']

In [36]:
Participants.index('Maria')  #get the position

2

In [37]:
Newcomers = ['Joshua', 'Brittany']
Newcomers

['Joshua', 'Brittany']

In [38]:
Bigger_List = [Participants, Newcomers]
Bigger_List

[['John', 'Leila', 'Maria', 'Dwayne', 'George', 'Catherine'],
 ['Joshua', 'Brittany']]

In [39]:
## We created a list of lists! Different from the extend method

In [40]:
Participants.sort()
Participants         # sort by alphabetical order

['Catherine', 'Dwayne', 'George', 'John', 'Leila', 'Maria']

In [42]:
Participants.sort(reverse = True)
Participants

['Maria', 'Leila', 'John', 'George', 'Dwayne', 'Catherine']

## Exercises - List Slicing

In [43]:
Numbers = Numbers = [15, 40, 50, 100, 115, 140]

Using list slicing, obtain the numbers 100 and 115.

In [44]:
Numbers[3:5]

[100, 115]

Using slicing, extract the first four elements from the list.

In [47]:
Numbers[:4]

[15, 40, 50, 100]

Using slicing, extract all the elements from the list from the 3rd position onwards.

In [48]:
Numbers[2:]

[50, 100, 115, 140]

Using slicing, extract the last 4 elements from the list.

In [50]:
Numbers[-4:]

[50, 100, 115, 140]

Which is the position of the value 15?

In [51]:
Numbers.index(15)

0

Create a list, called "Two_Numbers". Let its elements be the values 1 and 2. Then, create a new one, named "All_Numbers", that will containt both the "Numbers" and the "Two_Numbers" lists.

In [52]:
Two_Numbers = [1, 2]
Two_Numbers

[1, 2]

In [53]:
All_Numbers = [Numbers, Two_Numbers]
All_Numbers

[[15, 40, 50, 100, 115, 140], [1, 2]]

Sort all the numbers in the "Numbers" list from the largest to the smallest.

In [55]:
Numbers.sort(reverse = True)
Numbers

[140, 115, 100, 50, 40, 15]

---

# Tuples

In [56]:
# Tuple are another type of list but differents.
# Tuples are immutable! They cannot be changed or modified

In [58]:
x = (40, 41, 42)
x

(40, 41, 42)

In [60]:
y = 50, 51, 52
y

(50, 51, 52)

In [63]:
a, b, c = 1, 4, 6
c

6

In [64]:
x[0]

40

In [65]:
List_1 = [x, y]
List_1

[(40, 41, 42), (50, 51, 52)]

In [67]:
(age, years_of_school) = "30,17".split(',')     #split method --> tupples can be useful with comma-separated values
print(age)
print(years_of_school)

30
17

In [68]:
# Functions can provide tuples as return values

In [70]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print("Area and Perimeter:")
    return A,P

square_info(3)

Area and Perimeter:

(9, 12)

## Exercises - Tuples

Create a tuple, called "Cars", with elements "BMW", "Dodge", and "Ford".

In [71]:
Cars = ('BMW', 'Dodge', 'Ford')
Cars

('BMW', 'Dodge', 'Ford')

Access the second element of this tuple.

In [72]:
Cars[1]

'Dodge'

Call a method that would allow you to extract the provided name and age separately. Then print the "name" and "age" values to see if you worked correctly.

In [ ]:
name, age = 'Peter,24'

In [74]:
(name, age) = "Peter,24".split(",")
print(name)
print(age)

Peter
24

Create a function that takes as arguments the two values of a rectangle and then returns the Area and the Perimeter of the rectangle.
Call the function with arguments 2 and 10 to verify it worked correctly.

In [75]:
def rectangle(c, l):
    A = c * l
    P = 2*c + 2*l
    print('Area and Perimeter')
    return A, P

rectangle(c=2, l=10)

Area and Perimeter

(20, 24)

---

# Dicitionaries

In [76]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "mouse", 'k4': "fish"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish'}

In [78]:
dict['k1']

'cat'

In [79]:
dict["k3"]

'mouse'

In [81]:
dict['k5'] = 'parrot'   #add a new pair to the dictionary
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [84]:
dict['k2'] = 'squirrel'  #replace a value
dict

{'k1': 'cat', 'k2': 'squirrel', 'k3': 'mouse', 'k4': 'fish', 'k5': 'parrot'}

In [89]:
#dictionaries with a list

dep_workers = {'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}
dep_workers

{'dep_1': 'Peter', 'dep_2': ['Jennifer', 'Michael', 'Tommy']}

In [86]:
dep_workers['dep_2']

['Jennifer', 'Michael', 'Tommy']

In [90]:
#start a dictionary step by step

Team = {}
Team['Point Guard'] = 'Dirk'
Team['Shooting Guard'] = 'Al'
Team['Small Foward'] = 'Sean'
Team['Power Foward'] = 'Alexander'
Team['Center'] = 'Hector'

In [91]:
print(Team)

{'Point Guard': 'Dirk', 'Shooting Guard': 'Al', 'Small Foward': 'Sean', 'Power Foward': 'Alexander', 'Center': 'Hector'}

In [92]:
print(Team['Center'])

Hector

In [94]:
print(Team.get('Small Foward'))

Sean

In [96]:
print(Team.get('Coach'))   #Python doesn't display an error if we try to get a value that it is not in the dictionary

None

## Exercises - Dictionaries

This is the menu of a close-by restaurant:

In [97]:
Menu = {'meal_1':'Spaghetti', 'meal_2':'Fries', 'meal_3':'Hamburger', 'meal_4':'Lasagna'}

What is the second meal in the list?

In [99]:
Menu['meal_2']

'Fries'

Add a new meal - "Soup".

In [101]:
Menu['meal_5'] = 'Soup'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Hamburger',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

Replace the Hamburger with a Cheeseburger.

In [102]:
Menu['meal_3'] = 'Cheeseburguer'
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburguer',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup'}

Attach the Desserts list in the form of a sixth meal.

In [98]:
Dessert = ['Pancakes', 'Ice-cream', 'Tiramisu']

In [103]:
Menu['meal_6'] = Dessert
Menu

{'meal_1': 'Spaghetti',
 'meal_2': 'Fries',
 'meal_3': 'Cheeseburguer',
 'meal_4': 'Lasagna',
 'meal_5': 'Soup',
 'meal_6': ['Pancakes', 'Ice-cream', 'Tiramisu']}

Create a new dictionary that contains the first five meals as keys and assign the following five values as prices (in dollars):
10, 5, 8, 12, 5. 
Start by *Price_list = {}*.

In [105]:
Price_list = {}
Price_list['Spaghetti'] = 10
Price_list['Fries'] = 5
Price_list['Cheeseburguer'] = 8
Price_list['Lasagna'] = 12
Price_list['Soup'] = 5
Price_list

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburguer': 8, 'Lasagna': 12, 'Soup': 5}

In [106]:
# OR

Price_list = {}
Price_list[Menu['meal_1']] = 10
Price_list[Menu['meal_2']] = 5
Price_list[Menu['meal_3']] = 8
Price_list[Menu['meal_4']] = 12
Price_list[Menu['meal_5']] = 5
Price_list

{'Spaghetti': 10, 'Fries': 5, 'Cheeseburguer': 8, 'Lasagna': 12, 'Soup': 5}

Use the *.get()* method to check the price of the Spaghetti.

In [107]:
Price_list.get('Spaghetti')

10

In [109]:
Price_list.get(Menu['meal_1'])

10