# Loops

In [1]:
even = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [2]:
for n in even:
    print (n)

0
2
4
6
8
10
12
14
16
18
20

In [4]:
for n in even:
    print(n, end = " ")   # Indica que todos os elementos devem aparecer com o espaço de distância e na mesma linha! IMPORTANTE

0 2 4 6 8 10 12 14 16 18 20

## Exercises - Loops

Create a For loop that prints every digit on a new line.

In [5]:
digits = [0,1,2,3,4,5,6,7,8,9]

In [6]:
for d in digits:
    print(d)

0
1
2
3
4
5
6
7
8
9

Adjust the code, so the digits are all printed on the same line.

In [7]:
for d in digits:
    print(d, end = " ")

0 1 2 3 4 5 6 7 8 9

---

# While Loops and Incrementing

In [8]:
x = 0
while x <= 20:
    print(x, end = " ")
    x = x + 2            # Adding the same number on top of an existing variable during a loop is called incrementing 
                         # The amount being progressively added is called an increment.
                         # In our case, we have an increment of 2

0 2 4 6 8 10 12 14 16 18 20

In [9]:
x = 0
while x <= 20:
    print(x, end = " ")
    x += 2

0 2 4 6 8 10 12 14 16 18 20

## Exercises - While Loops and Incrementing

Create a while loop that will print all odd numbers from 0 to 30 on the same row. 
<br />
*Hint: There are two ways in which you can create the odd values!*

In [11]:
x = 1
while x <= 30:
    print (x, end = " ")
    x = x + 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

In [12]:
x = 1
while x <= 30:
    print (x, end=" ")
    x += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29

---

# Create Lists with range() Function

In [13]:
# range([start], stop, [step])

range(10)

range(0, 10)

In [15]:
range(0,10,1)   #The same

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
range(3,7)

range(3, 7)

In [18]:
list(range(3,7))

[3, 4, 5, 6]

In [19]:
range(1,20,2)

range(1, 20, 2)

In [20]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

## Exercises - Create Lists with the range() Function

Use the range() function to create a list with all numbers from 1 to 10.

In [21]:
range(1,11)
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Use the range() function to create a list with all numbers from 0 to 19.

In [22]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

Use the range function to create a list with all even numbers from 0 to 30 included.

In [23]:
list(range(0,31,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

---

# Use Conditional Statements and Loops

In [24]:
for n in range(10):
    print(2 ** n, end = " ")

1 2 4 8 16 32 64 128 256 512

In [26]:
for x in range(20):
    if x % 2 == 0:                # Se x deixa um resto = 0 quando dividido por 2
        print(x, end = " ")
    else:
        print('Odd', end = " ")

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd

In [27]:
x = [0,1,2]

In [28]:
for item in x:
    print(item, end= " ")

0 1 2

In [29]:
for item in range(len(x)):    #por cada item dentro de um leque que percorre os elementos da lista x, isto é len(x), print cada item
    print(x[item], end = " ")

0 1 2

## Exercises - Use Conditional Statements and Loops Together

Create a For loop that will print all the variables from a given list multiplied by 2. Let the list contain all numbers from 1 to 10. Create it with the help of the range() function.

In [32]:
for x in range(1,11):
    print(x*2, end = " ")

2 4 6 8 10 12 14 16 18 20

Create a little program that runs a loop over all values from 1 to 30. Let it print all Odd numbers, and in the place of the even numbers, it should print "Even".
Help yourself with the range() function to solve this exercise.

In [33]:
for x in range(1,31):
    if x % 2 == 0:
        print('Even', end = " ")
    else:
        print(x, end = " ")

1 Even 3 Even 5 Even 7 Even 9 Even 11 Even 13 Even 15 Even 17 Even 19 Even 21 Even 23 Even 25 Even 27 Even 29 Even

You have the following list of numbers. Iterate over this list, printing out each list value multiplied by 10.
Find two solutions of this problem.

In [34]:
n = [1,2,3,4,5,6]

In [35]:
for i in n:
    print(i*10, end = " ")

10 20 30 40 50 60

In [36]:
for i in range(len(n)):
    print(n[i]*10, end = " ")

10 20 30 40 50 60

---

# All In

In [37]:
def count(number):
    total = 0
    for x in number:
        if x < 20:
            total = total + 1
    return total

In [38]:
print("""
Usamos iterações quando queremos percorrr variáveis que fazer parte de uma lista

Vamos contar o número de items cujo valor é menor do que 20 e pertencem a uma lista

Primeiro - Definir uma função que tem como argumento uma variável que será lista de números. Vamos chamar-lhe Number
O truque é criar uma variável que começe em 0. Vamos chamar-lhe total
A ideia é que, quando certas condições se verifiquem, o valor do total vai mudar == rolling sum

Tecnicamente: Se considerarmos um valor x na lista Number
              se for menor do que 20
                 vamos incrementar o total por 1
              E devolver esses totais
              
Isto significa que se x < 20 ---> total aumenta por 1
                   se x >= 20 ---> total não aumenta
""")

Usamos iterações quando queremos percorrr variáveis que fazer parte de uma lista

Vamos contar o número de items cujo valor é menor do que 20 e pertencem a uma lista

Primeiro - Definir uma função que tem como argumento uma variável que será lista de números. Vamos chamar-lhe Number
O truque é criar uma variável que começe em 0. Vamos chamar-lhe total
A ideia é que, quando certas condições se verifiquem, o valor do total vai mudar == rolling sum

Tecnicamente: Se considerarmos um valor x na lista Number
              se for menor do que 20
                 vamos incrementar o total por 1
              E devolver esses totais

Isto significa que se x < 20 ---> total aumenta por 1
                   se x >= 20 ---> total não aumenta

In [39]:
list_1 = [1, 3, 7, 15, 23, 43, 56, 98]

In [40]:
count(list_1)

4

## Exercises - All In

You are provided with the 'nums' list. Complete the code in the cell that follows. Use a while loop to count the number of values lower than 20. 
*Hint: This exercise is similar to what we did in the video lecture. You might prefer using the x[item] structure for indicating the value of an element from the list.*

In [41]:
nums = [1,12,24,31,51,70,100]

In [42]:
def count(nums):
    nr_values = 0
    for x in nums:
        if x < 20:
            nr_values += 1
    return nr_values

In [43]:
count(nums)

2

---

# Iterating over Dictionaries

In [44]:
prices = {
    "box_of_spaghetti": 4,
    "lasagna": 5,
    "hamburguer": 2
}

In [45]:
quantity = {
    "box_of_spaghetti": 6,
    "lasagna": 10,
    "hamburguer": 0
}

How much did Jan spend in the supermarket?

In [46]:
money_spent = 0  #rolling sum

In [49]:
for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
    
print(money_spent)

222

In [50]:
for i in prices:
    money_spent = money_spent + (prices[i] * quantity[i])
    
print(money_spent)

296

In [51]:
for i in quantity:
    money_spent = money_spent + (prices[i] * quantity[i])
    
print(money_spent)

370

## Exercises - Iterations over Dicitionaries

In this exercise you will use the same dictionaries as the ones we used in the lesson - "prices" and "quantity". This time, don't just calculate all the money Jan spent. Calculate how much she spent on products with a price of 5 dollars or more.

In [52]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

In [55]:
for i in prices:
    if prices[i] >= 5: 
        money_spent += (prices[i] * quantity[i])
    else:
        money_spent = money_spent

print(money_spent)

50

And how much did Jan spent on products that cost less than 5 dollars?

In [53]:
prices = {
    "box_of_spaghetti" : 4,
    "lasagna"  : 5,
    "hamburger" : 2
   }
quantity = {
    "box_of_spaghetti" : 6,
    "lasagna"  : 10,
    "hamburger" : 0
    }

money_spent = 0

In [56]:
for i in prices:
    if prices[i] < 5:
        money_spent += (prices[i] * quantity[i])
    else:
        money_spent = money_spent

print(money_spent)

74

In [ ]:
# deu 74 porque está a juntar 24 aos 50 anteriores