# Lists

In [9]:
courses = ['History', 'Math', 'Physics', 'CompSci']
courses

['History', 'Math', 'Physics', 'CompSci']

In [10]:
len(courses)

4

In [11]:
print(courses[0])
print(courses[3])
print(courses[-1])
print(courses[-4])
print(courses[-len(courses)])

History
CompSci
CompSci
History
History

In [12]:
courses[0:2]  # o segundo não é inclusivo, é como as strings

['History', 'Math']

In [13]:
courses[:-2]

['History', 'Math']

In [14]:
courses[:2]

['History', 'Math']

In [15]:
courses[-3]

'Math'

In [16]:
# Adicionar itens a uma lista ---> append method
courses.append('Art')
courses

['History', 'Math', 'Physics', 'CompSci', 'Art']

In [17]:
# Adicionar mas numa localização específica ---> insert method
courses.insert(0, 'English')
courses

# este método pode ser usar para colocar uma lista dentro da lista
# courses_3 = ['Subject 1', 'Subject 2']
# courses.insert(0, courses_3)
# output = [['Subject 1', 'Subject 2'], 'History', 'Math', 'Physics', 'CompSci', 'Art']

# courses[0]
# output = ['Subject 1', 'Subject 2']

['English', 'History', 'Math', 'Physics', 'CompSci', 'Art']

In [18]:
# Outro método para adicionar é usar extend
courses_2 = ['Science', 'Education']
courses.extend(courses_2)
courses

['English',
 'History',
 'Math',
 'Physics',
 'CompSci',
 'Art',
 'Science',
 'Education']

In [19]:
courses.remove('Math')
courses

['English', 'History', 'Physics', 'CompSci', 'Art', 'Science', 'Education']

In [20]:
courses.pop()  #por defeito remove o último valor
courses

['English', 'History', 'Physics', 'CompSci', 'Art', 'Science']

In [21]:
popped = courses.pop()
popped

'Science'

In [22]:
courses

['English', 'History', 'Physics', 'CompSci', 'Art']

In [23]:
# Inverter a ordem da lista
courses.reverse()
courses

['Art', 'CompSci', 'Physics', 'History', 'English']

In [24]:
# Ordenar
courses.sort()
courses

['Art', 'CompSci', 'English', 'History', 'Physics']

In [25]:
courses.sort(reverse = True)
courses #descendente

['Physics', 'History', 'English', 'CompSci', 'Art']

In [26]:
# Estamos a usar um método para ordenar a nossa lista e é permanente

# Mas se quisermos ordenar a lista para uma variável, sem alterar a original, usamos a função SORTED

sorted_courses = sorted(courses)
print(courses)
print(sorted_courses)

['Physics', 'History', 'English', 'CompSci', 'Art']
['Art', 'CompSci', 'English', 'History', 'Physics']

In [27]:
nums = [1, 5, 2, 4, 3]

In [28]:
print(min(nums))

1

In [29]:
print(max(nums))

5

In [30]:
print(sum(nums))

15

In [31]:
# Find the index in the list

print(courses.index('CompSci'))

3

In [32]:
# Check if a value is on our list
print('Art' in courses)

True

In [33]:
# FOR LOOP
for item in courses:
    print(item)      # Queremos criar um loop, onde estamos a correr todos os valores da nossa lista e por cada passagem,
                     # a variável item vai ser igual ao item seguinte da nossa lista

Physics
History
English
CompSci
Art

In [35]:
for index, course in enumerate(courses):
    print(index, course)                 

# a função enumerate devolve dois resultados: o index e o valor

0 Physics
1 History
2 English
3 CompSci
4 Art

In [36]:
# vamos supor que não queremos começar na posição zero
for index, course in enumerate(courses, start = 1):
    print(index, course)

1 Physics
2 History
3 English
4 CompSci
5 Art

In [39]:
# Transformar a nossa lista numa string de valores separados por vírgulas

courses_str = ', '.join(courses)
print(courses_str)

courses_str1 = ' - '.join(courses)
print(courses_str1)

Physics, History, English, CompSci, Art
Physics - History - English - CompSci - Art

In [41]:
# Transformar string em lista

new_list = courses_str.split(' - ')
print(new_list)

['Physics, History, English, CompSci, Art']

---

# Tuples and Sets

In [42]:
# Diferença principal para as listas --->  não podemos modificar tuples == immutable

In [43]:
# Mutable
list_1 = ['History', 'Math', 'Physics', 'CompSci']
list_2 = list_1

print(list_1)
print(list_2)

['History', 'Math', 'Physics', 'CompSci']
['History', 'Math', 'Physics', 'CompSci']

In [44]:
list_1[0] = 'Art'  # Add a value
print(list_1)
print(list_2)

['Art', 'Math', 'Physics', 'CompSci']
['Art', 'Math', 'Physics', 'CompSci']

In [45]:
# Immutable
tuple_1 = ('History', 'Math', 'Physics', 'CompSci')
tuple_2 = tuple_1

print(tuple_1)
print(tuple_2)

('History', 'Math', 'Physics', 'CompSci')
('History', 'Math', 'Physics', 'CompSci')

In [46]:
tuple_1[0] = 'Art'

TypeError: 'tuple' object does not support item assignment

#### SETS

In [56]:
cs_courses = {'History', 'Math', 'Physics', 'CompSci', 'Math'}
print(cs_courses)

{'Math', 'History', 'CompSci', 'Physics'}

In [57]:
print('Math' in cs_courses)

True

In [58]:
cs_courses = {'History', 'Math', 'Physics', 'CompSci'}
art_courses = {'History', 'Math', 'Art', 'Design'}

In [59]:
# What are the courses in common?
print(cs_courses.intersection(art_courses))

{'Math', 'History'}

In [60]:
# Courses that are in the CS but not in Art
print(cs_courses.difference(art_courses))

{'Physics', 'CompSci'}

In [61]:
print(cs_courses.union(art_courses))

{'Art', 'Math', 'History', 'Physics', 'CompSci', 'Design'}

#### How to create empty lists, tuples, and sets

In [64]:
# Empty lists
empty_list = []  #or
empty_list = list()

In [65]:
# Empty tuples
empty_tuple = () #or
empty_tuple = tuple()

In [67]:
# Empty sets
empty_set = {}  # This is not a set. It is a dictionary
empty_set = set()