# 1) SUM in Loop

#### Test Data
Total numbers = 30

List = 666 538 1051 1184 772 1237 624 945 722 1050 63 658 281 171 698 742 583 1258 426 184 1220 1114 768 501 1041 552 841 318 352 61

In [1]:
nums = [666, 538, 1051, 1184, 772, 1237, 624, 945, 722, 1050, 63, 658, 281, 171, 698, 742, 583, 1258, 
426, 184, 1220, 1114, 768, 501, 1041, 552, 841, 318, 352, 61]


def sum_list(nums):
    sum = 0
    for x in nums:
        sum += x
    return sum

print(sum_list(nums))

20621

In [3]:
a = 0

for i in nums:
    a += i

print(a)

20621

# 2) SUMs in Loop

Now we are given several pairs of values and we want to calculate sum for each pair

Data:

Number of iterations to perform = 14

Pairs:

436387 108010
----------------------
844812 599613
----------------------
106037 221919
----------------------
182698 442309
----------------------
550962 770442
----------------------
569334 997590
----------------------
26864 92059
----------------------

In [12]:
pairs = {'p1': (436387, 108010), 'p2': (844812, 599613), 'p3': (106037, 221919), 'p4': (182698, 442309), 'p5': (550962, 770442), 
         'p6': (569334, 997590), 'p7': (26864, 92059)}

for key, value in pairs.items():
    print(key, " =", sum(value))

p1  = 544397
p2  = 1444425
p3  = 327956
p4  = 625007
p5  = 1321404
p6  = 1566924
p7  = 118923